<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <servlet>
        <servlet-name>Serv1</servlet-name>
        <servlet-class>controller.Serv1</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Serv1</servlet-name>
        <url-pattern>/serv1.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Serv2</servlet-name>
        <servlet-class>controller.Serv2</servlet-class>
        <init-param>
            <param-name>webAddress</param-name>
            <param-value>www.danielpm1982.com</param-value>
        </init-param>
        <init-param>
            <param-name>mailAddress</param-name>
            <param-value>danielpm1982.com@domainsbyproxy.com</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>Serv2</servlet-name>
        <url-pattern>/serv2.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Serv3</servlet-name>
        <servlet-class>controller.Serv3</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Serv3</servlet-name>
        <url-pattern>/serv3.do</url-pattern>
    </servlet-mapping>
    <context-param>
        <param-name>webAddress</param-name>
        <param-value>www.danielpm1982.com</param-value>
    </context-param>
    <context-param>
        <param-name>mailAddress</param-name>
        <param-value>danielpm1982.com@domainsbyproxy.com</param-value>
    </context-param>
    <servlet>
        <servlet-name>Serv4</servlet-name>
        <servlet-class>controller.Serv4</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Serv4</servlet-name>
        <url-pattern>/serv4.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Serv5</servlet-name>
        <servlet-class>controller.Serv5</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Serv5</servlet-name>
        <url-pattern>/serv5.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Serv6</servlet-name>
        <servlet-class>controller.Serv6</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Serv6</servlet-name>
        <url-pattern>/serv6.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Serv7</servlet-name>
        <servlet-class>controller.Serv7</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Serv7</servlet-name>
        <url-pattern>/serv7.do</url-pattern>
    </servlet-mapping>
    <context-param>
        <param-name>zoneId1</param-name>
        <param-value>America/Fortaleza</param-value>
    </context-param>
    <context-param>
        <param-name>zoneId2</param-name>
        <param-value>America/New_York</param-value>
    </context-param>
    <context-param>
        <param-name>zoneId3</param-name>
        <param-value>Europe/London</param-value>
    </context-param>
    <context-param>
        <param-name>zoneId4</param-name>
        <param-value>Europe/Paris</param-value>
    </context-param>
    <context-param>
        <param-name>zoneId5</param-name>
        <param-value>Japan</param-value>
    </context-param>
    <listener>
        <listener-class>listener.MyServletContextListener</listener-class>
    </listener>
    <listener>
        <listener-class>listener.MyHttpSessionListener</listener-class>
    </listener>
    <listener>
        <listener-class>listener.MyHttpSessionAttributeListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>servJSPResult10</servlet-name>
        <jsp-file>result10.jsp</jsp-file>
        <init-param>
            <param-name>webAddress</param-name>
            <param-value>www.danielpm1982.com</param-value>
        </init-param>
        <init-param>
            <param-name>emailAddress</param-name>
            <param-value>danielpm1982.com@domainsbyproxy.com</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>servJSPResult10</servlet-name>
        <url-pattern>/result10.do</url-pattern>
    </servlet-mapping>
    <jsp-config>
        <jsp-property-group>
            <url-pattern>/result10.jsp</url-pattern>
            <!--<scripting-invalid>true</scripting-invalid>-->
            <!--<el-ignored>true</el-ignored>-->
        </jsp-property-group>
    </jsp-config>
    <servlet>
        <servlet-name>servJSPResult11</servlet-name>
        <jsp-file>result11.jsp</jsp-file>
        <init-param>
            <param-name>webAddress</param-name>
            <param-value>www.danielpm1982.com</param-value>
        </init-param>
        <init-param>
            <param-name>emailAddress</param-name>
            <param-value>danielpm1982.com@domainsbyproxy.com</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>servJSPResult11</servlet-name>
        <url-pattern>/result11.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>servJSPResult12</servlet-name>
        <jsp-file>result12.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>servJSPResult12</servlet-name>
        <url-pattern>/result12.do</url-pattern>
    </servlet-mapping>
    <!--    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/errorPage.jsp</location>
    </error-page>-->
    <error-page>
        <exception-type>java.lang.ArithmeticException</exception-type>
        <location>/errorPageArithmetic.jsp</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.NumberFormatException</exception-type>
        <location>/errorPageNumberFormat.jsp</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/errorPageNotFound.jsp</location>
    </error-page>
    <error-page>
        <error-code>401</error-code>
        <location>/errorPageAuthentication.jsp</location>
    </error-page>
    <error-page>
        <error-code>403</error-code>
        <location>/errorPageAuthorization.jsp</location>
    </error-page>
    <servlet>
        <servlet-name>servJSPResult14</servlet-name>
        <jsp-file>result14.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>servJSPResult14</servlet-name>
        <url-pattern>/result14.do</url-pattern>
    </servlet-mapping>
    <!--Don't know why definition of taglib location at web.xml doesn't work in here. Although not necessary anymore at JSP 2.0 spec.-->
    <!--    <jsp-config>
        <taglib>
            <taglib-uri>http://danielpm1982.com/myTagLib</taglib-uri>
            <taglib-location>/WEB-INF/tlds/MyTagLib.tld</taglib-location>
        </taglib>
    </jsp-config>-->
    <servlet>
        <servlet-name>servJSPResult15</servlet-name>
        <jsp-file>result15.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>servJSPResult15</servlet-name>
        <url-pattern>/result15.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>servJSPResult16</servlet-name>
        <jsp-file>result16.jsp</jsp-file>
        <security-role-ref>
            <role-name>Daniel3</role-name>
            <role-link>Daniel</role-link>
        </security-role-ref>
    </servlet>
    <servlet-mapping>
        <servlet-name>servJSPResult16</servlet-name>
        <url-pattern>/result16.do</url-pattern>
    </servlet-mapping>
    
    <security-role>
        <role-name>Daniel</role-name>
    </security-role>
    <security-role>
        <role-name>Daniel2</role-name>
    </security-role>
    <security-role>
        <role-name>AllAdminRoles</role-name>
    </security-role>

    <login-config>
        <!--<auth-method>BASIC</auth-method>-->
        <!--<auth-method>DIGEST</auth-method>-->
        <!--<auth-method>CLIENT-CERT</auth-method>-->
        <auth-method>FORM</auth-method>
        <form-login-config>
            <form-login-page>/loginFormPage.jsp</form-login-page>
            <form-error-page>/errorPageAuthentication.jsp</form-error-page>
        </form-login-config>
        <!--<realm-name>file</realm-name>-->
    </login-config>
    
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>result14</web-resource-name>
            <url-pattern>/result14.do</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>result15</web-resource-name>
            <url-pattern>/result15.do</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
        </web-resource-collection>
        <auth-constraint>
            <role-name>Daniel</role-name>
            <role-name>Daniel2</role-name>
            <!--<role-name>*</role-name>-->
            <!--<role-name />-->
        </auth-constraint>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>result16</web-resource-name>
            <url-pattern>/result16.do</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
        </web-resource-collection>
        <auth-constraint>
            <role-name>Daniel</role-name>
            <!--<role-name>AllAdminRoles</role-name>-->
        </auth-constraint>
        <user-data-constraint>
            <!--<transport-guarantee>INTEGRAL</transport-guarantee>-->
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    
    <filter>
        <filter-name>RemoteUserLoggingFilter</filter-name>
        <filter-class>filter.RemoteUserLoggingFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>RemoteUserLoggingFilter</filter-name>
        <!--<url-pattern>/result16.do</url-pattern>-->
        <servlet-name>servJSPResult14</servlet-name>
        <servlet-name>servJSPResult15</servlet-name>
        <servlet-name>servJSPResult16</servlet-name>
    </filter-mapping>
    <filter>
        <filter-name>RemoteUserLoggingFilter2</filter-name>
        <filter-class>filter.RemoteUserLoggingFilter2</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>RemoteUserLoggingFilter2</filter-name>
        <servlet-name>servJSPResult15</servlet-name>
        <servlet-name>servJSPResult16</servlet-name>
    </filter-mapping>
    <filter>
        <filter-name>RemoteUserLoggingFilter3</filter-name>
        <filter-class>filter.RemoteUserLoggingFilter3</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>RemoteUserLoggingFilter3</filter-name>
        <servlet-name>servJSPResult16</servlet-name>
    </filter-mapping>
</web-app>
