@import url("http://fonts.googleapis.com/css?family=Croissant+One");
@font-face{
    font-family: "Hobo";
    /*src: url("http://localhost:8084/Teste/segway/HoboStd.otf");*/
    src: url(http://danielpm1982.net78.net/Teste/segway/HoboStd.otf);
}

body{
    font-family: Hobo, sans-serif;
    font-size: small;
    color: black;
    background-color: white;
}

h1{
    font-size: 3em;
    color: rgb(237,28,36);
    text-align: center;
    text-decoration: underline;
}

h2{
    font-size: 2em;
    color: coral;
    border-bottom: 2px #fcd4a8 dashed;
}

p{
    font-family: "Segoe Script", sans-serif;
    font-size: 2em;
}

p#subtitulo{
    font-family: 'Croissant One', Hobo, cursive;
    text-align: center;
    font-size: 2em;
    margin-bottom: 40px;
}

q{
    font-style: italic;
    font-stretch: extra-expanded;
    color: #4fc864;
}

ol{
    font-family: Calibri, sans-serif;
    font-size: 1.5em;
}

ul{
    font-family: monospace;
    font-size: 1.5em;        
}

blockquote{
    font-style: italic;
    font-size: 1.5em;
}

table{
    margin-left: 20px;
    margin-right: 20px;
    border: thin solid black;
    border-spacing: 4px 8px;
    border-collapse: collapse;
    caption-side: bottom;
}

td, th {
    border: thin dotted gray;
    padding: 5px;
}

th{
    background-color: #cc6600;
}

caption {
    font-style: italic;
    padding-top: 8px;
}

.center-aligned{
    text-align: center;
}

.right-aligned{
    text-align: right;
}

.rowcolororange{
    background-color: #fcba7a;
}

/*tr:nth-child(2n+1){
    background-color: #fcba7a;
}*/

table tr td table tr th{
    background-color: white;
}

.rowcolorblue{
    background-color: #a7cece;
}

.rowcolorpink{
    background-color: #f88396;
}

li {
    list-style-image: url(images/backpack.gif);
    padding-top: 5px;
    margin-left: 20px;
}